* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
}

/* ===== common ===== */
.wrapper {
  width: 1024px;
  margin: 0 auto 30px;
}

.grey-border-bottom {
  border-bottom: 1px solid #eaecef;
}
/* ===== / common ===== */

/* ===== header ===== */
.page-header {
  padding: 30px 0 10px;
  margin-bottom: 15px;
}

.page-header a {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.25;
  color: #0366d6;
  text-decoration: none;
}

.page-header a:hover {
  text-decoration: underline;
}
/* ===== / header ===== */

/* ===== main ===== */
.page-title {
  margin: 15px 0;
  padding: 10px 0;
  font-size: 32px;
  line-height: 1.25;
}

.section-title {
  margin: 15px 0;
  padding: 10px 0;
  font-size: 24px;
  line-height: 1.25;
}
/* ===== / main ===== */

/* ===== contact info ===== */
.contact-info-box {
  display: flex;
  align-items: center;
}

.contact-info-box .user-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 30px;
}

.contact-info-box .contact-info {
  flex-grow: 1;
}

.contact-info-box .contact-ways-item {
  font-size: 16px;
  line-height: 1.5;
  margin: 5px 0;
}
/* ===== / contact info ===== */

/* ===== skills ===== */
.skills .skills-table {
  border: 1px solid #c6cbd1;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.skills .skills-table th,
.skills .skills-table td {
  border: 1px solid #c6cbd1;
  padding: 6px 13px;
}

.skills .skills-table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
/* ===== / skills ===== */